@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    outline: 1px solid red;
}
body{
    font-family: Roboto,Arial ,sans-serif;;
}
header{
    background-color: #2874f0;
    height: 56px;
    display: flex;
    flex-direction: row;
    
}
header .container{
    width: 100%;
    display: flex;
    
}
.logo-container{
    display: flex;
    justify-content: flex-end;

}
.logo-container .logo{
    display: flex;
    flex-direction: column;
}
.logo-container img{
    width: 75px;
    height: 20px;
}
.logo-container .explore{
    color: white;
    font-size: 11px;
    font-style: italic;
}





